#ifndef CREDENTIALS_H
#define CREDENTIALS_H

const char* WIFI_SSID = "Tu_SSID";
const char* WIFI_PASSWORD = "Tu_Contraseña";
const char* MQTT_USERNAME = "Tu_Usuario";
const char* MQTT_PASSWORD = "Tu_Clave";

#endif
